#first-part {
    text-align: center;
    background-color: rgb(120,72,49);
    color: white;
    height: 200px;
    padding-top: 55px;
    /* border: 2px solid #2c3e50; */
}

.jumbotron {
    margin: 0 auto;
}
h1 {
    font-size: 70px;
}

#cts {
    background-color: rgb(69,122,178);
    color: white;
}

#second-part {
    border: 2px solid rgb(69,122,178);
    margin: 0 auto;
}

#AT {
    background-color: rgb(69,122,178);
    color: white;
    
}

#third-part {
    border: 2px solid rgb(69,122,178);
    margin: 0 auto;
}